DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=task_management
DATABASE_PORT=5433

JWT_SECRET=CHANGE_ME_to_a_strong_random_secret
JWT_EXPIRY=1d

NEXT_PUBLIC_API_URL=http://localhost:3001/api

FRONTEND_PORT=3000
